@model GestionStock.Models.Models.FournisseursModel;

@{
    ViewData["Title"] = "List des fournisseurs";
    ViewData["UserId"] = Model.utilisateur.id;
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}
<div class="card card-primary">
    <div class="card-header">
        <div class="col-md-6 float-left">
            <h3 class="card-title">List des fournisseurs</h3>
        </div>
        <div class="col-md-6 float-right">
            <div class="input-group input-group-sm">
                <input type="text" name="table_search" id="searchBar" class="form-control float-right" placeholder="search" onkeyup="Search()" />
            </div>
        </div>

    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap"  style="text-align:center" id="table">
            <thead>
                <tr>
                    <th hidden>
                        Id
                    </th>
                    <th>
                        Nom Complet
                    </th>
                    <th>
                        Téléphone
                    </th>
                    <th><a class="btn btn-default bg-maroon toastsDefaultMaroon float-lg-right" asp-controller="Fournisseur" asp-action="Create">
    <i class="fa fa-plus">
    </i>&nbsp;Nouveau fournisseur
</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.fournisseurs)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nom) @Html.DisplayFor(modelItem => item.prenom)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.telephone)
                        </td>
                        <td class="float-right">
                            <a class="btn btn-success toastsDefaultSuccess" asp-controller="Fournisseur" asp-action="Details" asp-route-id=@item.id>
                                <i class="fa fa-info-circle ">
                                </i>&nbsp; Details
                            </a>
                            <a class="btn btn-info toastsDefaultInfo" asp-controller="Fournisseur" asp-action="Edit" asp-route-id=@item.id>
                                <i class="fas fa-pencil-alt">
                                </i>
                                Modifier
                            </a>
                            <button class="btn btn-danger swalDefaultError" onclick="Delete(@item.id)">
                                <i class="fas fa-trash">
                                </i>
                                Supprimer
                            </button>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">



        function Search() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function Delete(id) {

            var result = confirm("Êtes-vous sûr de vouloir supprimer ce projet?");
            if (result == true) {
                $.ajax({
                    type: "POST",
                    url: "/Fournisseur/SupprimerFournisseur",
                    data: { 'idFournisseur': id },
                    cache: false,


                    success: function (result) {
                        location.reload();


                    },
                    error: function (xhr) {
                        location.reload();


                    },
                    failure: function (response) {
                        alert("something unexpected happend");
                    },
                });
            } else
                retuen;
        }

    </script>
}

