<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<!--add name="ConnectionString" providerName="MySql.Data.MySqlClient" connectionString="datasource=127.0.0.1;database=gestionstock;userid=root;password=;PORT=3306" /-->
		<add name="ConnectionString" providerName="MySql.Data.MySqlClient" connectionString="datasource=127.0.0.1;database=gestionstock;userid=azure;password=6#vWHD_$;PORT=3309" />
	</connectionStrings>
    
  
</configuration>