@model GestionStock.Models.Entities.Produit
@{
    ViewData["Title"] = "Modification du fournisseur";
    ViewData["fonction"] = ViewBag.utilisateur.fonction;
    String fullName = ViewBag.utilisateur.nom.ToString() + " " + ViewBag.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Modification du produit</h3>


    </div>
    <div class="card-body ">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div hidden class="form-group">
                    <label asp-for="id" class="control-label"></label>
                    <input asp-for="id" class="form-control" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Nom de produit</label>
                    <input asp-for="nom" class="form-control" />
                    <span asp-validation-for="nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label $ class="control-label">Catégorie</label>
                    <input asp-for="categorie" class="form-control" />
                    <span asp-validation-for="categorie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Prix d'achat</label>
                    <input asp-for="prixAchat" class="form-control" />
                    <span asp-validation-for="prixAchat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

   </div>
